<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing Link Detector</title>
    <link rel="stylesheet" href="../static/style.css">
    {% block additionalstyles %} {% endblock %}
</head>
<body>
    <div class="container">
        <h1>Phishing Link Detector</h1>
        <div>
            <form action="result" method="post">
                <input type="text" placeholder="Enter URL" name="url">
                <input type="submit" value="Check URL" id="button">
            </form>
        </div>
        <div class="result">
            {% block content %} {% endblock %}
        </div>
    </div>

    <footer>
        Made by Meet Karan Kushagra
    </footer>
</body>
</html>